name: code-quality

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  format:
    name: rust-format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v27

      - run: |
          nix develop --command cargo fmt --all --check

  lint:
    name: rust-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v27

      - run: |
          nix develop --command cargo clippy --workspace -- -D warnings

